{{ ansible_managed | comment }}

{# Rendering of section configuration #}
{% macro render_section(section_data, section_key) -%}
[{{ section_key }}]
{% for key, value in section_data.items() %}
{# Passwords can contains illegal symbols, so, we wrap them into tripple quotes. #}
{{ key }} = {% if 'password' in key %}"""{{ value }}"""{% else %}{{ value }}{% endif %}

{% endfor %}
{%- endmacro %}

{{ render_section(grafana_config_paths, 'paths') }}

{% for key, value in grafana_config.items() %}
{{ render_section(value, key) }}
{% endfor %}
